################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
*.tlog
*.ipch
*.exe
*.ilk
*.pdb
*.db
*.log
*.obj
*.pch
*.vcxproj
*.filters
*.idb
*.sln
*.txt
