################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
*.tlog
*.ipch
*.exe
*.ilk
*.pdb
*.db
*.log
*.obj
*.pch
*.idb
*.txt
*.opendb
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs
/.vs/ProjectSettings.json
/.vs
/LearnCpp1.12_Question1/LearnCpp1.12_Question1/x64/Debug
/LearnCpp1.12_Question1/x64/Debug
/LearnCpp2.10_Question4/LearnCpp2.10_Question4/Debug
/LearnCpp2.10_Question4/Debug
/soma-de-inteiros/.vs/config/applicationhost.config
/area-do-circulo/.vs/area-do-circulo/v15/Solution.VC.db-shm
/area-do-circulo/.vs/area-do-circulo/v15/Solution.VC.db-wal
/learncpp2.10-question4/.vs/gravidade-da-bola/v15/Solution.VC.db-wal
/learncpp2.10-question4/.vs/gravidade-da-bola/v15/Solution.VC.db-shm
*.db-shm
*.db-wal
/numeros-aleatorios/numeros-aleatorios/numeros-aleatorios.vcxproj.user
